*~
*.agdai
*.bak
*.beam
*.fil
*.log
*.o
*.out
*.swp
*.test
*.tex
*.tmp
*_go.pdf
*_md.pdf
*~
.vagrant
.vscode/
MAlonzo/
__pycache__/
archpackages/
default
favicon.*
fgtrace.json
fo
include.txt
insert.txt
light
main.c
main.o
manpage.1
o
o
o*.p*
o.1.gz
o.html
ocpu
og/og
omem
orbiton
ost/
red
redblack
release/
v2/o
v2/orbiton
.DS_Store
output.txt
*_md.html
example.go
