*.agdai
*.bak
*.beam
*.fil
*.log
*.o
*.out
*.swp
*.test
*.tex
*.tmp
*_go.pdf
*_md.html
*_md.pdf
*~
*~
.!*!*
.DS_Store
.vagrant
.vscode/
MAlonzo/
__pycache__/
archpackages/
cpu.pprof
default
example.go
fgtrace.json
fo
gtk3/gtk3
gtk4/gtk4
include.txt
insert.txt
light
main.c
main.o
main.py
main.zig
manpage.1
nan
nano
o
o.1.gz
o.html
o.log.*
ocpu
og/og
omem
orbiton
ost/
osudo
output.txt
red
redblack
release/
startup.prof
v2/o
v2/orbiton
v2/osudo
v2/visudo
visudo
