*~
*.bak
default
favicon.*
*.fil
*_go.pdf
include.txt
insert.txt
ko/ko
light
*.log
manpage.1
*.o
o
o.1.gz
o.html
o*.p*
__pycache__/
red
redblack
*.swp
*.test
*.tex
*.tmp
.vagrant
.vscode/
ost/
ocpu
omem
fo
