on:
  push:
    paths-ignore:
      - '.gitignore'
      - '**/*.md'
      - '**/*.txt'
      - '**/*.sh'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - '**/*.md'
      - '**/*.txt'
      - '**/*.sh'
name: Build
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Build
      run: cd v2 && go build -mod=vendor
    - name: Test
      run: cd v2 && go test

  test-cache:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25.x
    - name: Checkout code
      uses: actions/checkout@v6
    - uses: actions/cache@v5
      with:
        path: |
          ~/go/pkg/mod              # Module download cache
          ~/.cache/go-build         # Build cache (Linux)
          ~/Library/Caches/go-build # Build cache (Mac)
          '%LocalAppData%\go-build' # Build cache (Windows)
        key: ${{ runner.os }}-go-${{ hashFiles('**/v2/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Build
      run: cd v2 && go build -mod=vendor
    - name: Test
      run: cd v2 && go test
