on:
  push:
    paths-ignore:
      - '.gitignore'
      - '**/*.md'
      - '**/*.txt'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - '**/*.md'
      - '**/*.txt'
name: Build
env:
  GOFLAGS: -mod=vendor
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Update deps
      run: cd v2 && (go get -t -v; go get -u -v; go mod vendor; go mod tidy; go mod vendor; go mod tidy)
    - name: Build
      run: cd v2 && go build
    - name: Test
      run: cd v2 && go test

  test-cache:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.24.x
    - name: Checkout code
      uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: |
          ~/go/pkg/mod              # Module download cache
          ~/.cache/go-build         # Build cache (Linux)
          ~/Library/Caches/go-build # Build cache (Mac)
          '%LocalAppData%\go-build' # Build cache (Windows)
        key: ${{ runner.os }}-go-${{ hashFiles('**/v2/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Update deps
      run: cd v2 && (go get -t -v; go get -u -v; go mod vendor; go mod tidy; go mod vendor; go mod tidy)
    - name: Build
      run: cd v2 && go build
    - name: Test
      run: cd v2 && go test
